% Compiler Options for rebar
{erl_opts, [
    {src_dirs, ["src", "test"]}
]}.

% Dependencies
{deps, [
    {etest, ".*", {git, "git://github.com/wooga/etest.git"}},

    % SHA-224, SHA-256, SHA-384, SHA-512 implemented in Erlang NIFs.
    % Used for signed Facebook requests.
    {erlsha2, "", {git, "git://github.com/vinoski/erlsha2.git"}}
]}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.
